Resume.Builder/Resume.Builder.Web/obj*
Resume.Builder/Resume.Builder.Web/bin/*
Resume.Builder.Web/bin/*
.vs/*
Resume.Builder.Web/obj/*
client/node_modules/*
server/obj/*
server/bin/*
server/.idea/*
client/.idea*
server/.vs/*
client.obsolete/.idea/*
client.obsolete/node_modules/*
resumebuilder.client/.idea/*
