.AppLayout {
    background: #fff;
    color: #000;

    &__Content {
        padding: 0 50px;

        &__Wrapper {
            padding: 24px;
            min-height: 280px;

            &__Title {
                font-size: 50px;
            }
        }
    }

    .AppMenu {
        &__CreateAccount {
            background: #c142a0;

            &:hover {
                background: #ac388e;
            }
        }
    }
}
