body {
    margin: 0;
    font-family: 'Rubik', 'Roboto', Arial, Helvetica, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    font-weight: 500;
    color:#000;
    background: #fff;
}
